@using Interview.Entities
@inject IViewLocalizer localizer

@{
    ViewBag.Title = localizer["Title"].Value;

    List<Process> processes = ViewBag.Processes;

}

<div class="row mrgn-bttm-md mrgn-tp-md">
    <div class="col-md-12">
        @Html.ActionLink(localizer["AddProcess"].Value, "Process", "Processes", null, new { @class = "btn btn-primary" })
    </div>
</div>

<div class="row">
    @foreach (Process process in processes)
    {
        ViewBag.Process = process;
        await Html.RenderPartialAsync("SummaryTilePartial");
    }
</div>

@{
    await Html.RenderPartialAsync("ModalContainer");
}

<script type="text/javascript">
    
    var deleteUri = "@Url.ActionLink("DeleteProcessModal", "Processes")";

</script>