html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

p {
    font-size: 16px;
}

label.required-en::before {
    content: "* ";
    color: #dc3545;
    font-weight: 500;
}

label.required-en::after {
    content: " (Required)";
    color: #dc3545;
    font-weight: 500;
}

label.required-fr::before {
    content: "* ";
    color: #dc3545;
    font-weight: 500;
}

label.required-fr::after {
    content: " (Obligatoire)";
    color: #dc3545;
    font-weight: 500;
}

.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}

.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}

.bs-callout p:last-child {
    margin-bottom: 0;
}

.bs-callout code {
    border-radius: 3px;
}

.bs-callout + .bs-callout {
    margin-top: -5px;
}

.bs-callout-default {
    border-left-color: #777;
}

.bs-callout-default h4 {
    color: #777;
}

.bs-callout-primary {
    border-left-color: #428bca;
}

.bs-callout-primary h4 {
    color: #428bca;
}

.bs-callout-success {
    border-left-color: #5cb85c;
}

.bs-callout-success h4 {
    color: #5cb85c;
}

.bs-callout-danger {
    border-left-color: #d9534f;
}

.bs-callout-danger h4 {
    color: #d9534f;
}

.bs-callout-warning {
    border-left-color: #f0ad4e;
}

.bs-callout-warning h4 {
    color: #f0ad4e;
}

.bs-callout-info {
    border-left-color: #5bc0de;
}

.bs-callout-info h4 {
    color: #5bc0de;
}

.ck-editor__editable {
    max-height: 400px !important;
}

a {
    text-decoration: none !important;
}

.box-available {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #5cb85c;
    border-color: #C0C0C0;
    margin-right: 5px;
    cursor: pointer;
}

.text-available {
    color: #5cb85c;
}

.row-available {
    background-color: #5cb85c !important;
}

.Waiting {
    background-color: #FF8000;
    border-color: #C0C0C0;
    color: White;
    background-position: 1px 1px;
    background-repeat: no-repeat;
    background-image: url('ok.png');
    padding: 2px;
    margin-left: 0.2em;
    cursor: pointer;
}

.text-waiting {
    color: #FF8000;
}

.row-waiting {
    background-color: #FF8000 !important;
}

.box-waiting {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #FF8000;
    border-color: #C0C0C0;
    margin-right: 5px;
    cursor: pointer;
}

.box-reserve {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #FF0000;
    border-color: #C0C0C0;
    margin-right: 5px;
    cursor: pointer;
}

.text-reserve {
    color: #FF0000;
}

.row-reserve {
    background-color: #FF0000 !important;
}