
@inject IViewLocalizer localizer

@{


}

<div class="row">
    <div role="alert" id="ctl00_cphMainContent_wetAlertAccessDenied" class="alert-danger alert">
        <strong>@localizer["Heading"]</strong>
        <p>@localizer["Message"]</p>
    </div>
</div>