

@{

	VmInterview vmInterview = (VmInterview)ViewData["vmInterview"];
	TimeSpan duration = new TimeSpan((int)vmInterview.Duration);
	string startAndEndTime = $"{vmInterview.VmStartTime.ToString(@"hh\:mm")} - {vmInterview.VmStartTime.Add(duration).ToString(@"hh\:mm")}";
	string description = $"{startAndEndTime}, {vmInterview.Location}, {vmInterview.Room}";

}

<li class="cal-disp-onshow">
	<section>
		<h4><a href="">@description</a></h4>
		<p><time datetime="@((DateTime)vmInterview.VmStartDate).ToString(Constants.DateFormat)">StartDate</time></p>
		<p>Event Description</p>
	</section>
</li>