@using Interview.Entities
@using Interview.UI.Models
@using System.Linq
@inject IViewLocalizer localizer

@{

    ViewBag.Title = localizer["Title"].Value;
    
    Guid? contestId = ViewBag.ContestId;
    List<Contest> contests = ViewBag.Contests;
    Contest? contest = contestId == null ? null : contests.Where(x => x.Id == contestId).First();

    List<SelectListItem> vmContestItems = new List<SelectListItem>();
    foreach (var contestItem in contests)
    {
        vmContestItems.Add(new SelectListItem()
        {         
            Value = contestItem.Id.ToString(),
            Text = contestItem.NoProcessus,
            Selected = contestItem.Id == contestId
        });
    }

    ViewBag.Contest = contest;

}

@{
    await Html.RenderPartialAsync("TopMenuPartial");
    await Html.RenderPartialAsync("ManageButtonsPartial");
}

@*Only form control*@
<div class="container">
    <div class="row well well-lg">
        <div class="col-md-12">
            @Html.Label("lblContests", localizer["ListOfProcesses"].Value, new { @for = "Contests" }):
        </div>
        <div class="col-md-12">
            @Html.DropDownList("Contests", vmContestItems, new { @class = "form-control" })
        </div>
    </div>
</div>

@{
    await Html.RenderPartialAsync("LegendPartial");
    await Html.RenderPartialAsync("MembersWelcomePartial");
    await Html.RenderPartialAsync("RulesPartial");
    await Html.RenderPartialAsync("CalendarPartial");
}

<script src="~/js/default/index.js" asp-append-version="true"></script>