@using Interview.UI.Models
@inject IViewLocalizer localizer

@{

    ViewBag.Title = localizer["Title"].Value;

}

<h1>@localizer["Title"]</h1>

<form>

    <div>

        @Html.ActionLink(localizer["ManageContest"].Value, "Index", "Contests", null, new { @class = "btn btn-primary" })
        @Html.ActionLink(localizer["ManageEmails"].Value, "Index", "Emails", null, new { @class = "btn btn-primary" })
        @Html.ActionLink(localizer["ManageRoles"].Value, "Index", "Roles", null, new { @class = "btn btn-primary" })

    </div>

</form>