@model VmIndex
@using Interview.UI.Models.Default
@using Interview.Entities
@using Interview.UI.Models
@using System.Linq
@inject IViewLocalizer localizer

@{

    ViewBag.Title = localizer["Title"].Value;

    List<Process> contests = ViewBag.Contests;
    Process? contest = Model.ProcessId == null ? null : contests.Where(x => x.Id == Model.ProcessId).First();

    List<SelectListItem> vmContestItems = new List<SelectListItem>();
    foreach (var contestItem in contests)
    {
        vmContestItems.Add(new SelectListItem()
        {         
            Value = contestItem.Id.ToString(),
            Text = contestItem.NoProcessus,
            Selected = contestItem.Id == Model.ProcessId
        });
    }

    ViewBag.Contest = contest;

}

@{
    await Html.RenderPartialAsync("TopMenuPartial");
    await Html.RenderPartialAsync("ManageButtonsPartial");
}

@*Only form control*@
<div class="container">
    <div class="row well well-lg">
        @using (Html.BeginForm("SwitchContest", "Default", null, FormMethod.Post, null, new { id = "formContest" }))
        {
            @Html.AntiForgeryToken()            
            <div class="col-md-12">
                @Html.Label("lblContests", localizer["ListOfProcesses"].Value, new { @for = "ContestId" }):
            </div>
            <div class="col-md-12">          
                @Html.DropDownListFor(x => x.ProcessId, vmContestItems, new { @class = "form-control" })
            </div>
        }
    </div>
</div>

@{
    await Html.RenderPartialAsync("LegendPartial");
    await Html.RenderPartialAsync("MembersWelcomePartial");
    await Html.RenderPartialAsync("RulesPartial");
    if (Model.ProcessId != null)
        await Html.RenderPartialAsync("CalendarPartial");
    await Html.RenderPartialAsync("ModalContainer");
}
