@model VmIndex
@using Interview.UI.Models.Default
@using Interview.Entities
@using Interview.UI.Models
@using System.Linq
@inject IViewLocalizer localizer

@{

    ViewBag.Title = localizer["Title"].Value;

    List<Process> processes = ViewBag.Processes;
    Process? process = Model.ProcessId == null ? null : processes.Where(x => x.Id == Model.ProcessId).First();
    bool userHasAccess = ViewBag.UserHasAccess;
    bool showLanguageStatusModal = ViewBag.ShowLanguageStatusModal;

    List<SelectListItem> vmProcessItems = new List<SelectListItem>();
    foreach (var processItem in processes)
    {
        vmProcessItems.Add(new SelectListItem()
        {         
            Value = processItem.Id.ToString(),
            Text = processItem.NoProcessus,
            Selected = processItem.Id == Model.ProcessId
        });
    }

    ViewBag.Process = process;

}

@{
    await Html.RenderPartialAsync("TopMenuPartial");
    await Html.RenderPartialAsync("ManageButtonsPartial");
}

@*Only form control*@
<div class="container">
    <div class="row well well-lg">
        @using (Html.BeginForm("SwitchProcess", "Default", null, FormMethod.Post, null, new { id = "formProcess" }))
        {
            @Html.AntiForgeryToken()            
            <div class="col-md-12">
                @Html.Label("lblProcesses", localizer["ListOfProcesses"].Value, new { @for = "ProcessId" }):
            </div>
            <div class="col-md-12">          
                @Html.DropDownListFor(x => x.ProcessId, vmProcessItems, new { @class = "form-control" })
            </div>
        }
    </div>
</div>

@{
    if (userHasAccess)
    {
        await Html.RenderPartialAsync("LegendPartial");
        await Html.RenderPartialAsync("MembersWelcomePartial");
        await Html.RenderPartialAsync("RulesPartial");

        if (Model.ProcessId != null)
        {
            await Html.RenderPartialAsync("CalendarPartial");
            //if (showLanguageStatusModal)
            //    await Html.RenderPartialAsync("LanguageStatusModal");
        }

    }
    else
    {
        await Html.RenderPartialAsync("AccessToProcessDeniedPartial");
    }
    await Html.RenderPartialAsync("ModalContainer");
}
