@using Interview.UI.Models
@using System.Linq
@inject IViewLocalizer localizer

@{

    ViewBag.Title = localizer["Title"].Value;
    
    Guid? contestId = ViewBag.ContestId;
    List<VmContest> vmContests = ViewBag.VmContests;
    VmContest? vmContest = contestId == null ? null : vmContests.Where(x => x.Id == contestId).First();

    List<SelectListItem> vmContestItems = new List<SelectListItem>();
    foreach (var contestItem in vmContests)
    {
        vmContestItems.Add(new SelectListItem()
        {         
            Value = contestItem.Id.ToString(),
            Text = contestItem.NoProcessus,
            Selected = contestItem.Id == contestId
        });
    }

    ViewBag.vmContest = vmContest;

}

@{
    await Html.RenderPartialAsync("TopMenuPartial");
    await Html.RenderPartialAsync("ManageButtonsPartial");
}

@*Only form control*@
<panel class="ui-tabs-panel panel-default mrgn-bttm-md">
    <div class="panel-body">
        <div class="col-md-12">
            @Html.Label("lblContests", localizer["ListOfProcesses"].Value, new { @for = "Contests" }):
        </div>
        <div class="col-md-12">
            @Html.DropDownList("Contests", vmContestItems, new { @class = "form-control" })
        </div>
    </div>
</panel>

@{
    await Html.RenderPartialAsync("LegendPartial");
    await Html.RenderPartialAsync("MembersWelcomePartial");
    await Html.RenderPartialAsync("RulesPartial");
    await Html.RenderPartialAsync("CalendarPartial");
}

<script src="~/js/default/index.js" asp-append-version="true"></script>