@using Interview.Entities
@using Interview.UI.Models
@inject IViewLocalizer localizer

@{

    Process process = ViewBag.Process;
    string cultureName = System.Globalization.CultureInfo.CurrentCulture.Name;

    bool showWelcome = process != null
        && ((cultureName == Constants.EnglishCulture && !string.IsNullOrEmpty(process.MembersIntroEN)
        || (cultureName == Constants.FrenchCulture && !string.IsNullOrEmpty(process.MembersIntroEN))));

}

@if (showWelcome)
{
    <section class="alert alert-info">
        <p>@localizer["Welcome"]</p>
        <div>
            @if (cultureName == Constants.EnglishCulture)
            {
                @Html.Raw(process.MembersIntroEN)
            }
            else if (cultureName == Constants.FrenchCulture)
            {
                @Html.Raw(process.MembersIntroFR)
            }
        </div>
    </section>
}
