@using Interview.Entities
@using Interview.UI.Models
@inject IViewLocalizer localizer

@{

    Contest contest = ViewBag.Contest;
    string cultureName = System.Globalization.CultureInfo.CurrentCulture.Name;

    bool showWelcome = contest != null
        && ((cultureName == Constants.EnglishCulture && !string.IsNullOrEmpty(contest.MembersIntroEN)
        || (cultureName == Constants.FrenchCulture && !string.IsNullOrEmpty(contest.MembersIntroEN))));

}

@if (showWelcome)
{
    <section class="alert alert-info">
        <p>@localizer["Welcome"]</p>
        <div>
            @if (cultureName == Constants.EnglishCulture)
            {
                <p>@contest.MembersIntroEN</p>
            }
            else if (cultureName == Constants.FrenchCulture)
            {
                <p>@contest.MembersIntroFR</p>
            }
        </div>
    </section>
}
