@inject IViewLocalizer localizer

<ul class="list-unstyled">
    <li>
        <details>
            <summary class="text-primary">
                <span style="font-weight:bold;">@localizer["Summary"]</span>
            </summary>
            <ul class="mrgn-tp-md">
                @localizer["Rules"]
            </ul>
        </details>
    </li>
</ul>