@inject IViewLocalizer localizer

@{
    Layout = "~/Views/GoC.WebTemplate/_Layout.ErrorPage.Bilingual.cshtml";

    string exceptionId = ViewBag.ExceptionId;

}

<h1>@localizer["Title"]</h1>

<p>@localizer["Message"]</p>

<p>@localizer["ExceptionId"] = @exceptionId</p>