@inject IViewLocalizer localizer

@{

    string exceptionId = ViewBag.ExceptionId;

}

<header class="modal-header">
    <h2 class="modal-title">@localizer["Title"]</h2>
    <button title="%title%" type="button" class="mfp-close">x</button>
</header>

<div class="modal-body">

    <p>@localizer["Message"]</p>

    <p>@localizer["ExceptionId"] = @exceptionId</p>

</div>