@inject IWebHostEnvironment hostEnvironment

@{
    bool isDev = hostEnvironment.EnvironmentName.ToLower() == "development";
}

<div>
    <span>@Html.ActionLink("No Authentication", "NoAuthentication", "Auth")</span>
    <span>@Html.ActionLink("Require Authentication", "RequireAuthentication", "Auth")</span>
</div>

@*@if (!isDev && ViewBag.IsAuthenticated)
{*@
    <div>      
        <span>@Html.ActionLink("Show Logged In User Details", "Index", "GraphUsersHttp")</span>
        <span>@Html.ActionLink("Search For Users", "SearchUsers", "GraphUsersHttp")</span>
    </div>
@*}*@