
@{


}

<span>@Html.ActionLink("Back to Auth", "Index", "Auth")</span>

<h1>Graph Users HTTP</h1>

<pre>
    <h2>Token Response =</h2> @Html.Raw(ViewBag.TokenResponse)
</pre>


<pre>
    <h2>Entra User = </h2> @Html.Raw(ViewBag.EntraUser)
</pre>


