
@{



}

<span>@Html.ActionLink("Back to Auth", "Index", "Auth")</span>

<h1>Search Users</h1>

<input class="form-control ui-autocomplete-input" id="InternalName" name="InternalName" type="text" value="" autocomplete="off">

<div id="userDetailsContainer" style="display: none">
    <h2>Selected User = </h2>
    <pre id="userDetails"></pre>
</div>

<link rel="stylesheet" href="/lib/jquery-ui-1.13.2.custom/jquery-ui.min.css">
<script src="/lib/jquery-ui-1.13.2.custom/jquery-ui.min.js" defer></script>
<script src="~/js/GraphUsersHttp/SearchUsers.js" defer></script>