<h1>Index</h1>

<h2>
    User.Identity.IsAuthenticated = @ViewBag.IsAuthenticated
</h2>

<pre>
    User.Identity = @Html.Raw(ViewBag.UserIdentity)
</pre>

<pre>
    X-MS-CLIENT-PRINCIPAL header values = @Html.Raw(ViewBag.SerializedHeaders)
</pre>