@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Search Users</h1>

<input class="form-control ui-autocomplete-input" id="InternalName" name="InternalName" type="text" value="" autocomplete="off">

<div id="userDetailsContainer" style="display: none">
    <h2>Selected User = </h2>
    <pre id="userDetails"></pre>
</div>