
@inject IViewLocalizer localizer

@{

    string assemblyVersion = ViewData[Constants.AssemblyVersionKey].ToString();
    string cultureName = System.Globalization.CultureInfo.CurrentCulture.Name;

}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Interview</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Interview.styles.css" asp-append-version="true" />
    <link href="~/lib/jquery-ui-1.13.2.custom/jquery-ui.min.css" rel="stylesheet" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
</head>
<body>
    <header>

    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            @localizer["AssemblyVersion"] @assemblyVersion
        </div>
    </footer>
    @*<script src="~/lib/jquery/dist/jquery.min.js"></script>*@
    @*<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery-ui-1.13.2.custom/jquery-ui.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>*@
    @await RenderSectionAsync("Scripts", required: false)

    @if (cultureName == Constants.EnglishCulture)
    {
        <script src="~/js/Resources.en.js" asp-append-version="true"></script>
    }
    else if (cultureName == Constants.FrenchCulture)
    {
        <script src="~/js/Resources.fr.js" asp-append-version="true"></script>
    }

</body>
</html>
