@using Interview.Entities
@inject IViewLocalizer localizer

@{

    List<VmInterview> vmInterviews = ViewBag.VmInterviews;
    List<VmRoleUser> vmRoleUsers = ViewBag.VmRoleUsers;
    DateTime currentMonth = new DateTime(DateTime.Now.Year, DateTime.Now.Month, 1);
	DateTime procesStartDate = ViewBag.ProccessStartDate;
	DateTime processEndDate = ViewBag.ProccessEndDate;

}

@functions {


    private string GetInterviewDetails(VmInterview vmInterview)
    {

        string result = null;
        DateTime time = DateTime.Today.Add(vmInterview.VmStartTime);

        result = $"<div>{vmInterview.VmStartDate.ToString(Constants.DateFormat)} {time.ToString(@"hh\:mm tt")}</div> <div>{vmInterview.Location}</div> <div>{vmInterview.Room}</div>";

        return result;

    }

    private string GetParticipantDetails(VmInterview interview, List<VmRoleUser> vmRoleUsers)
    {

        System.Text.StringBuilder sb = new System.Text.StringBuilder();
        VmRoleUser candidateRoleUser = GetVmRoleUser(interview, vmRoleUsers, RoleUserTypes.Candidate);
        VmRoleUser interviewRoleUser = GetVmRoleUser(interview, vmRoleUsers, RoleUserTypes.Interviewer); ;
        VmRoleUser leadInterviewRoleUser = GetVmRoleUser(interview, vmRoleUsers, RoleUserTypes.Lead); ;

        if (candidateRoleUser != null)
            sb.Append($"<div>Candidate: {candidateRoleUser.UserLastname} {candidateRoleUser.UserFirstname}</div>");
        if (interviewRoleUser != null)
            sb.Append($"<div>Interviewer: {interviewRoleUser.UserLastname} {interviewRoleUser.UserFirstname}</div>");
        if (leadInterviewRoleUser != null)
            sb.Append($"<div>Lead Interviewer: {leadInterviewRoleUser.UserLastname} {leadInterviewRoleUser.UserFirstname}</div>");

        return sb.ToString();

    }

    private VmRoleUser GetVmRoleUser(VmInterview interview, List<VmRoleUser> vmRoleUsers, RoleUserTypes roleUserType)
    {

        VmRoleUser result = null;
        VmInterviewUser vmInterviewUser = interview.InterviewUsers.Where(x => x.RoleUserType == roleUserType).FirstOrDefault();

        if (vmInterviewUser != null)
            result = vmRoleUsers.Where(x => x.Id == vmInterviewUser.UserId).First();

        return result;

    }

}

@*<div>
	<a id="interviewModal" href="#modalContainer">Add Interview</a>
</div>*@

<div class="container row">
    <div class="well well-lg">
        <div class="row">
            <a id="interviewTableModal" href="#modalContainer" class="btn btn-primary mrgn-bttm-md">Add Interview</a>
        </div>

        <div class="table-responsive">
            <table id="tblInterviews" class="table table-striped">
                <thead>
                    <tr>
                        <th class="tableActionColumn">&nbsp;</th>
                        <th>Details</th>
                        <th>Participants</th>
                        <th>Language</th>
                        @*<th>ContactNumber</th>*@
                    </tr>
                </thead>
                @foreach (VmInterview vmInterview in vmInterviews)
                {
                    <tr>
                        @*<td>@Html.ActionLink(localizer["Edit"].Value, "InterviewModal", "Default", new { Id = vmInterview.Id }, new { @class = "editTable" })</td>*@
                        <td><a href="#modalContainer" class="editTable" data-id="@vmInterview.Id">Edit</a></td>
                        <td>@Html.Raw(GetInterviewDetails(vmInterview))</td>
                        <td>@Html.Raw(GetParticipantDetails(vmInterview, vmRoleUsers))</td>
                        <td>Not sure which property drives this</td>
                    </tr>
                }
            </table>
        </div>


    </div>   
</div>