
@using Interview.Entities
@using Interview.UI.Models.Stats
@inject IViewLocalizer localizer

@{

    //VmInterviewCounts interviewCounts = ViewBag.InterviewCounts;

}

<div class="row">

    <div class="col-md-3">
        <div class="well well-sm text-center">
            <div class="row">
                <div class="col-md-12">
                    <strong>@localizer["TimeSlots"]</strong>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <strong>
                        <div id="totalInterviews"></div>
                    </strong>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="well well-sm text-center">
            <div class="row">
                <div class="col-md-12">
                    <strong>
                        @localizer["InterviewsCompleted"]
                    </strong>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <strong>
                        <div id="completedInterviews"></div>
                    </strong>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="well well-sm text-center">
            <div class="row">
                <div class="col-md-12">
                    <strong>@localizer["InterviewsRemaining"]</strong>
                </div>
        </div>
        <div class="row">
                <div class="col-md-12">
                    <strong>
                        <div id="remainingInterviews"></div>
                    </strong>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="well well-sm text-center">
            <div class="row">
                <div class="col-md-12">
                    <strong>@localizer["InterviewDays"]</strong>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <strong>
                        <div id="interviewDays"></div>
                    </strong>
                </div>
            </div>
        </div>
    </div>

</div>