@using Interview.UI.Models.Shared
@using Newtonsoft.Json;

@{

    VmNotificationPartial vmNotificatinPartial = null;
    string serialized = TempData[Constants.NotificationPartialModel] == null ? null : TempData[Constants.NotificationPartialModel].ToString();

    if (!string.IsNullOrEmpty(serialized))
        vmNotificatinPartial = JsonConvert.DeserializeObject<VmNotificationPartial>(serialized);

}

@if (vmNotificatinPartial != null)
{   
    <div class="wb-dismissable-container" data-dismissable-item-id="dismiss1">
        <div class="wb-dismissable-wrapper">
            <div class="alert alert-@vmNotificatinPartial.AlertClass">
                <p>@Html.Raw(vmNotificatinPartial.Message)</p>                
            </div>
        </div>
        <button title="Dismiss" class="mfp-close content-dismiss" type="button">×<span class="wb-inv"> Dismiss</span></button>
    </div>
}