
@inject IViewLocalizer localizer

<nav id="wb-sm" data-ajax-replace="../../wet-boew/ajax/sitemenu-en.html" data-trgt="mb-pnl" class="wb-menu visible-md visible-lg wb-init wb-data-ajax-replace-inited wb-menu-inited wb-navcurr-inited mrgn-bttm-md" 
    typeof="SiteNavigationElement">
    <div class="pnl-strt container visible-md visible-lg nvbar">
        <h2>Topics menu</h2>
        <div class="row">
            <ul class="list-inline menu">
                <li>@Html.ActionLink(localizer["Home"].Value, "Index", "Default")</li>
                <li>@Html.ActionLink(localizer["ProcessList"].Value, "Index", "Contests")</li>
                <li>@Html.ActionLink(localizer["GroupList"].Value, "Index", "Groups")</li>
                <li>@Html.ActionLink(localizer["Dashboard"].Value, "Index", "Dashboard")</li>
            </ul>
        </div>
    </div>
</nav>
