
@inject IViewLocalizer localizer

@{

    string contestId = ViewData["contestId"].ToString();

}

<nav role="navigation" id="wb-sm" data-ajax-replace="ajax/menu-include-en.html" data-trgt="mb-pnl" class="wb-menu visible-md visible-lg" typeof="SiteNavigationElement">
    <div class="container nvbar">
        @*<h2>Topics menu</h2>*@
        <div class="row">
            <ul class="list-inline menu">
                <li>@Html.ActionLink(localizer["Home"].Value, "Index", "Default", new { contestId = contestId })</li>
                <li>@Html.ActionLink(localizer["ProcessList"].Value, "Index", "Contests", new { contestId = contestId })</li>
                <li>@Html.ActionLink(localizer["GroupList"].Value, "Index", "Groups", new { contestId = contestId })</li>
                <li>@Html.ActionLink(localizer["Dashboard"].Value, "Index", "Dashboard", new { contestId = contestId })</li>
            </ul>
        </div>
    </div>
</nav>
