@model VmEmails
@using Interview.Entities
@using Interview.UI.Models
@using Interview.UI.Helpers
@using Interview.UI.Services.Mock.Departments
@using Newtonsoft.Json
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@inject IViewLocalizer localizer

@{
    ViewData["Title"] = "Emails";
}

<ul class="list-unstyled">

    @*Email sent to a candidate who registers at a time slot*@
    <li>
        <details>
            <summary class="text-primary">
                <span style="font-weight:bold;">@localizer["EmailCandidateRegTimeslot"]</span>
            </summary>

            <div class="row mrgn-tp-md">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="ctl00_cphMainContent_txtSubjectEmailReminder"><span class="field-name">Subject of the email (bilingual)</span> </label><input name="ctl00$cphMainContent$txtSubjectEmailReminder" type="text" value="Interview Reminder / Rappel d'entrevue" id="ctl00_cphMainContent_txtSubjectEmailReminder" class="form-control">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="ctl00_cphMainContent_txtCCEmailReminder"><span class="field-name">CC email address (separated by ";" for multiple addresses)</span> </label><input name="ctl00$cphMainContent$txtCCEmailReminder" type="text" value="ex.collectivestaffing-dotationcollective.ex@justice.gc.ca" id="ctl00_cphMainContent_txtCCEmailReminder" class="form-control">
                    </div>
                </div>
            </div>

            @*Add Iframe here (ckeditor)*@

            <div class="text-left">
                <div id="editor"></div>

                @*<script src="https://cdn.ckeditor.com/ckeditor5/40.0.0/classic/ckeditor.js"></script>*@

                
                <script src="ckeditor5/build/ckeditor.js"></script>
       
                <script>
                    ClassicEditor
                        .create(document.querySelector('#editor'))
                        .catch(error => {
                            console.error(error);
                        });
                </script>
            </div>
		</details>
    </li>

    @*https://www.youtube.com/watch?v=1F9nz9jlsRI*@

    @*Email sent when a candidate is added by admin or HR section*@
    <li>
        <details>
            <summary class="text-primary">
                <span style="font-weight:bold;">@localizer["EmailCandidateAddedAdminHR"]</span>
            </summary>

            <div class="row mrgn-tp-md">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="ctl00_cphMainContent_txtSubjectInterviewInvitation"><span class="field-name">Subject of the email (bilingual)</span> </label><input name="ctl00$cphMainContent$txtSubjectInterviewInvitation" type="text" value="Interview Invitation / Invitation à une entrevue" id="ctl00_cphMainContent_txtSubjectInterviewInvitation" class="form-control">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="ctl00_cphMainContent_txtCCInterviewInvitation"><span class="field-name">CC email address (separated by ";" for multiple addresses)</span> </label><input name="ctl00$cphMainContent$txtCCInterviewInvitation" type="text" value="ex.collectivestaffing-dotationcollective.ex@justice.gc.ca" id="ctl00_cphMainContent_txtCCInterviewInvitation" class="form-control">
                    </div>
                </div>
            </div>
          
            @*Add Iframe here*@
            <p>iframe placeholder</p>

        </details>
    </li>


    @*Email sent to a candidate 2 days before interview section*@
    <li>
        <details>
            <summary class="text-primary">
                <span style="font-weight:bold;">@localizer["EmailCandidate2daysBeforeInterview"]</span>
            </summary>

            <div class="row mrgn-tp-md">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="ctl00_cphMainContent_txtSubjectFollowUpEmail"><span class="field-name">Subject of the email (bilingual)</span> </label><input name="ctl00$cphMainContent$txtSubjectFollowUpEmail" type="text" value="Selection Process / Processus de sélection 2022-TEST" id="ctl00_cphMainContent_txtSubjectFollowUpEmail" class="form-control valid" aria-invalid="false">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="ctl00_cphMainContent_txtCCFollowUpEmail"><span class="field-name">CC email address (separated by ";" for multiple addresses)</span> </label><input name="ctl00$cphMainContent$txtCCFollowUpEmail" type="text" value="ex.collectivestaffing-dotationcollective.ex@justice.gc.ca" id="ctl00_cphMainContent_txtCCFollowUpEmail" class="form-control valid" aria-invalid="false">
                    </div>
                </div>
            </div>

            @*Add Iframe here*@
            <p>iframe placeholder</p>

        </details>
    </li>

    @*Email sent to an external candidate*@
    <li>
        <details>
            <summary class="text-primary">
                <span style="font-weight:bold;">@localizer["EmailExternalCandidate"]</span>
            </summary>
     
            <div class="row mrgn-tp-md">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="ctl00_cphMainContent_txtSubjectExternalCandidate"><span class="field-name">Subject of the email (bilingual)</span> </label><input name="ctl00$cphMainContent$txtSubjectExternalCandidate" type="text" value="Appointment Scheduling: Activation Code / Prise de Rendez-vous: code d'activation" id="ctl00_cphMainContent_txtSubjectExternalCandidate" class="form-control">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="ctl00_cphMainContent_txtCCExternalCandidate"><span class="field-name">CC email address (separated by ";" for multiple addresses)</span> </label><input name="ctl00$cphMainContent$txtCCExternalCandidate" type="text" value="ex.collectivestaffing-dotationcollective.ex@justice.gc.ca" id="ctl00_cphMainContent_txtCCExternalCandidate" class="form-control">
                    </div>
                </div>
            </div>
        
            @*Add Iframe here*@
            <p>iframe placeholder</p>

        </details>

    </li>

</ul>
