@model VmIndex
@using Interview.UI.Models
@using Interview.UI.Models.Emails
@inject IViewLocalizer localizer

@{
    
    ViewBag.Title = localizer["Title"].Value;

}

@{
    await Html.RenderPartialAsync("TopMenuPartial");
}

<h1>@localizer["Title"]</h1>

<div role="alert" id="ctl00_cphMainContent_wetInfoVar" class="alert-info alert">
    @Html.Raw(localizer["Message"].Value)
</div>

<form>

    @for (int i = 0; i < Model.EmailTemplates.Count; i++)
    {
        ViewData.TemplateInfo.HtmlFieldPrefix = $"EmailTemplates[{i.ToString()}]";
        VmEmailTemplate emailTempalte = Model.EmailTemplates[i];
        await Html.RenderPartialAsync("TemplatePartial", emailTempalte);
    }

    <div>
 
        <input type="submit" value="@localizer["Save"]" id="btnSave" class="btn btn-primary" formaction=@Url.Action("Save", "Emails")
               formmethod="post" />
        @Html.ActionLink(localizer["Back"].Value, "Index", "Default", null, new { @class = "btn btn-primary" })

    </div>

</form>