@using Interview.UI.Models
@inject IViewLocalizer localizer

@{
    ViewBag.Title = localizer["Title"].Value;

    string contestId = ViewData["contestId"].ToString();

}

@{
    await Html.RenderPartialAsync("TopMenu");
}

<h1>@localizer["Title"]</h1>

<form>

    @*@Html.HiddenFor(x => x.Id)*@

    <div>
 
        <input type="submit" value="@localizer["Save"]" id="btnSave" class="btn btn-primary" formaction=@Url.Action("Save", "Emails")
               formmethod="post" />
        @Html.ActionLink(localizer["Back"].Value, "Index", "Default", new { contestId = contestId }, new { @class = "btn btn-primary" })

    </div>

</form>