
@using Interview.Entities
@inject IViewLocalizer localizer

@{

    RoleUserTypes roleUserType = (RoleUserTypes)ViewData["RoleUserType"];
    string heading = roleUserType == RoleUserTypes.Candidate ? localizer["Candidates"].Value : localizer["BoardMembers"].Value;
    List<RoleUser> roleUsers = ViewBag.RoleUsers;
    List<RoleUser> filteredRoleUsers = roleUserType == RoleUserTypes.Candidate ? roleUsers.Where(x => x.RoleUserType == RoleUserTypes.Candidate).ToList() :
        roleUsers.Where(x => (x.RoleUserType == RoleUserTypes.Interviewer || x.RoleUserType == RoleUserTypes.Lead)).ToList();
    List<Equity> equities = ViewBag.Equities;
    string cultureName = System.Globalization.CultureInfo.CurrentCulture.Name;

}

@functions {

    private string GetEquityLine(Equity equity, List<RoleUser> filteredRoleUsers, string cultureName)
    {

        string result = null;
        int countForEquity = filteredRoleUsers.SelectMany(x => x.RoleUserEquities).Where(x => x.EquityId == equity.Id).Count();
        string description = cultureName == Constants.EnglishCulture ? equity.NameEN : equity.NameFR;
        double percentage = filteredRoleUsers.Count == 0 ? 0 : Math.Round(((double)countForEquity / (double)filteredRoleUsers.Count) * 100, 2);

        result = $"{countForEquity}/{filteredRoleUsers.Count} {description} (<strong>{percentage}%</strong>)";

        return result;

    }

}

<section class="panel panel-default">
    <header class="panel-heading">
        <h5 class="panel-title">@heading</h5>
    </header>
    <div class="panel-body">
        @foreach (Equity equity in equities)
        {
            <div>@Html.Raw(GetEquityLine(equity, filteredRoleUsers, cultureName))</div>
        }
    </div>
</section>