
@using Interview.Entities

@{

    List<Interview> interviews = ViewBag.Interviews;

    int timeslots = interviews.Count();
    //int completedInterviews = interviews.Where(x => x.Status == )

}

<h3>InterviewsRowPartial</h3>