
@{

    string label = ViewData["InterviewTileLabel"].ToString();
    string number = ViewData["InterviewTileNumber"].ToString();

}

<div class="well well-sm text-center">
    <div class="row">
        <div class="col-md-12">
            <strong>@label</strong>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <strong>@number</strong>
        </div>
    </div>
</div>