@using Interview.Entities
@inject IViewLocalizer localizer

@{
    ViewBag.Title = localizer["Title"].Value;

    List<Contest> contests = ViewBag.Contests;

}

@{
    await Html.RenderPartialAsync("TopMenuPartial");
}

<div class="row mrgn-bttm-md mrgn-tp-md">
    <div class="col-md-12">
        @Html.ActionLink(localizer["AddContest"].Value, "Contest", "Contests", null, new { @class = "btn btn-primary" })
    </div>
</div>

<div class="row">
    @foreach (Contest contest in contests)
    {
        ViewBag.Contest = contest;
        await Html.RenderPartialAsync("SummaryTilePartial");
    }
</div>
