@model VmIndex
@using Interview.Entities
@using Interview.UI.Models.Groups
@inject IViewLocalizer localizer

@{

    ViewBag.FieldOrder = new List<string>(new string[]
    {
        "NameEn", "NameFr"
    }).Select(x => x.ToLower()).ToList();

    ViewBag.Title = localizer["Title"].Value;

    string cultureName = System.Globalization.CultureInfo.CurrentCulture.Name;

    List<Process> processes = ViewBag.Processes;
    List<SelectListItem> processItems = new List<SelectListItem>();
    processItems.Add(new SelectListItem(localizer["PleaseSelect"].Value, ""));
    foreach (var process in processes)
    {
        processItems.Add(new SelectListItem()
        {
            Value = process.Id.ToString(),
            Text = process.GroupNiv
        });
    }
    ViewBag.ProcessItems = processItems;

}

@{
    await Html.RenderPartialAsync("TopMenuPartial");
    await Html.RenderPartialAsync("ValidationSummary");
}

<div class="row col-md-12 mrgn-bttm-md">
    @Html.ActionLink(localizer["AddGroup"].Value, "AddGroup", "Groups", null, new { @class = "btn btn-primary" })
</div>

@if (Model.AddGroup)
{
    await Html.RenderPartialAsync("AddGroupPartial", Model.VmAddGroup);
}

<div class="row">
    @foreach (VmGroup group in Model.Groups)
    {
        if (group.EditThisGroup)
            await Html.RenderPartialAsync("EditGroupPartial", group);
        else
            await Html.RenderPartialAsync("GroupTilePartial", group);
    }
</div>