@using Interview.UI.Models
@inject IViewLocalizer localizer

@{

    ViewBag.Title = localizer["Title"].Value;

}

@{
    await Html.RenderPartialAsync("TopMenuPartial");
}

<h1>@localizer["Title"]</h1>
